* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #header {
    width: 100%;
    height: 100px;
    background: linear-gradient(
      to right,
      #8A2387,
      #E94057,
      #F27121
    );
    /*background-image: url("./header2.jpg");*/
    
    color:whitesmoke ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100px;
    /* position: fixed;
    top: 0; */
  }
  #header:hover{
    opacity: 0.5;
  }
  .banner {
    /* margin-top: 120px; */
    margin-top: 20px;
    width: 100%;
    height: 100vh; /*viewport height: Fixed Unit*/
    /* background-color: #1da1f2; */
     background-image: url("./banner.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
  
    /*background: #59c173; /* fallback for old browsers */
   /* background: -webkit-linear-gradient(
      to right,
      #5d26c1,
      #a17fe0,
      #59c173
    );*/ 
    /*background: linear-gradient(
      to right,
      #5d26c1,
      #a17fe0,
      #59c173
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100vh;
  }
  #sec-1 {
    display: flex;
    justify-content: space-evenly;
  }
  #sec-1 .circle1 {
    width: 250px;
    height: 250px;
    background-image: url(./north-2.jpg);
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 20px;
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sec-1 .circle2 {
    width: 250px;
    height: 250px;
    background-image: url(./west.jpg);
    border-radius: 50%;
    margin: 20px;
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sec-1 .circle3 {
    width: 250px;
    height: 250px;
    background-image: url(./3.jpg);
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 20px;
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sec-1 .circle4 {
    width: 250px;
    height: 250px;
    background-image: url(./south-2.jpg);
    border-radius: 50%;
    margin: 20px;
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sec-1 .circle5 {
    width: 250px;
    height: 250px;
    background-image: url(./continental-2.jpg);
    border-radius: 50%;
    margin: 20px;
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 30px;
    text-shadow: 2px 2px 3px red;
  }
  #sec-2 {
    display: flex;
    justify-content: space-between;
  }
  #sec-2 main {
    width: 50%;
    height: 500px;
    background-image: url(./main-3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
  }
  aside {
    width: 48%;
    height: 500px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  aside .art {
    width: 100%;
    height: 150px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }
  
  #sec-3 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  #sec-3 .box1 {
    width: 20%;
    height: 300px;
    background-image: url(./italian-2.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 24px;
    transition: 1s;
  }
  #sec-3 .box2 {
    width: 20%;
    height: 300px;
    background-image: url(./indo-chinese-food.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 24px;
    transition: 1s;
  }
  #sec-3 .box3 {
    width: 20%;
    height: 300px;
    background-image: url(./french.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 24px;
    transition: 1s;
  }
  #sec-3 .box4 {
    width: 20%;
    height: 300px;
    background-image: url(./desserts.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 2px 2px 3px red;
    font-size: 24px;
    transition: 1s;
  }
  
  footer {
    width: 100%;
    height: 100px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }
  
  #sec-3 .box1:hover {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 5px 10px grey;
    background-color: #59c173;
    transform: scale(1.1);
  }
  #sec-3 .box2:hover {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 5px 10px grey;
    background-color: #59c173;
    transform: scale(1.1);
  }
  #sec-3 .box3:hover {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 5px 10px grey;
    background-color: #59c173;
    transform: scale(1.1);
  }
  #sec-3 .box4:hover {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 5px 10px grey;
    background-color: #59c173;
    transform: scale(1.1);
  }
  h3{
    color: black;
    font-size: medium;
  }
  p{
    font-family:sans-serif;
    color: black;
    
  }
